.buttonMain {
    background-color: #438efc;
    border-radius: 0.2em;
    color: white;
    padding: 0.4em 1.5em;
    font-family: "Evogria", sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin: 5rem; 
    top: 50%;
    font-family: monospace;

}
