.headerBackground {
    background-image: url("../images/background4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 15rem;
    height: 100%;
}

.homepageTitle {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: white; 
    text-align: center;
    font-family: monospace;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.homepageSubTitle {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: white; 
    text-align: center;
    font-family: monospace;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.beginButton {
text-align: center;
}

.bodyHome {
    background-color: #948E8F;

}